<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <img src="assets/images/logo.png" class="cursor" width="140px"[routerLink]="['/landing-page/']">
      <div class="navbar-nav" >
        <a class="nav-link" routerLink="landing-page">Landing</a>
        <a class="nav-link" routerLink="category-page">Offer</a>
        <a class="nav-link" routerLink="summary-page">Summary</a>
      </div>
  </div>
</nav>
<router-outlet></router-outlet>
