.max-width {
  max-width: 18rem;
}

.center {
  margin-top: 30px;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 7%;
}
.card{
  background-color: rgba(255, 255, 255, 0.774);
  border-radius:25px;
  border:0.2rem solid black;
}
.card:hover{
  border:0.2rem dashed;
}
.card-text{
  text-align: justify;
}

