@import "../../../../palete.scss";

.max-width {
  max-width: 18rem;
}
.row{
  margin:0;
}

.center {
  margin-top: 2rem;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 4vw;
  
}

.card{
  background-color: $cardBackground;
  border-radius:10px;
  border:0.2rem solid black;
  cursor: pointer;
}

.card:hover{
  background-color: $cardBackgroundOnHover;
}

.card-text{
  text-align: justify;
}

.col{
  margin-right: 20%;
  margin-left: 20%;
}

