@import "../../../../palete.scss";

.max-width {
  max-width: 18rem;
  max-height: 10rem;
  min-height: 29vh;
  min-width: 29vh;
}
.row{
  margin:0;
}

.center {
  margin-top: 2rem;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  font-size: 4vw;
  padding:7vh;
  color:whitesmoke;
  text-shadow: none;
}

.card{
  background-color: $inqooBlue;
  cursor: pointer;
}

.card:hover{
  background-color: $cardBackgroundOnHover;
}


.col{
  margin-right: 25%;
  margin-left: 25%;
}

