@import "../../../../palete.scss";

.max-width {
  max-width: 18rem;
}

.center {
  margin-top: 30px;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 7%;
}

.card{
  background-color: $cardBackground;
  border-radius:25px;
  border:0.2rem solid black;
  cursor: pointer;
}

.card:hover{
  background-color: $cardBackgroundOnHover;
}

.card-text{
  text-align: justify;
}

