.max-width {
  max-width: 18rem;
}

.center {
  margin-top: 30px;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 7%;
}

.card{
  background-color: rgba(255, 255, 255, 0.774);
  border-radius:25px;
  border:0.2rem solid black;
  cursor: pointer;
}

.card:hover{
  background-color: rgba(245, 245, 245, 0.774);
}

.card-text{
  text-align: justify;
}

