<div id="container">
  <h2><strong>SUMMARY</strong></h2>
  <div class="strongText">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book.
  </div>
  <div>
    <h3><strong>Wybrane kursy:</strong></h3>
    <div class="content">
      {{lecturesToDisplay}}
    </div>
  </div>
  <div class="strongText">
    <h3><strong>Email został wysłany do {{emailToDisplay}}</strong></h3>
    <div>
      Serdecznie dziękujemy za zainteresowanie naszą ofertą, wkrótce się odezwiemy.
    </div>
  </div>
  <img class="smallImage" src="assets/images/like.png">
</div>
