<div id="container">
    <h2><strong>SUMMARY</strong></h2>
    <div class="strongText">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    </div>
    <div >
        <h3><strong>JS</strong></h3>
        <div  class="content">
            <img src="assets/images/bird.png" class="image" >
            BASICS
        </div>
    </div>

    <div >
        <div  class="content">
            <img src="assets/images/bird.png" class="image" >
            REDUX        </div>
    </div>
         
    <div  class="strongText">
        <h3><strong>Został wysłany do anna.kania@inqoo.com</strong></h3>
        <div>
            Contrary to popular belief, Lorem Ipsum is not simply random text. 
        </div>
    </div>


   
         <img src="assets/images/like.png" class="smallImage" >

</div>