@import "../../../../palete.scss";

.min-width {
  max-width: 50rem;
  max-height:15rem;
  min-height: 16vh;
  min-width: 16vh;
}

.row {
  margin:0;
}

.center {
  margin-top: 1.5rem;
}

.card-header2 {
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card {
  background-color: $inqooBlue;
  cursor: pointer;
}

.card:hover {
  background-color: $cardBackgroundOnHover;
}

.card-text{
  text-align: justify;
  font-size:2.5vh;
  color:whitesmoke;
  text-shadow: none;
}

.card-title{
  text-align: justify;
  font-size:4vh;
  color:whitesmoke;
  text-shadow: none;
}



