.max-width {
  max-width: 18rem;
}

.center {
  margin-top: 30px;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 7%;
}
.card{
  border:2px solid lightgray;
  border-radius:25px;
  background-color: rgba(255, 255, 255, 0.774);
}
.card:hover{
  border:dashed;
}
.card-text{
  text-align: justify;
}
.box{
  margin:3% 5% 0% 5%;
}
