@import "../../../../palete.scss";

.min-width {
  min-width: 10rem;
}
.row{
  margin:0;
}

.center {
  margin-top: 2rem;
}

.card-header2{
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card{
  background-color: $cardBackground;
  border:0.2rem solid black;
  cursor: pointer;
}

.card:hover{
  background-color: $cardBackgroundOnHover;
}

.card-text{
  text-align: justify;
  font-size:3vh;
}

.card-title{
  text-align: justify;
  font-size:5vh;
}



