<div id="container">
<div id="content">
<img src="assets/images/inqoo-image.png" width="40%" style="float:left; border-radius:50px; margin-right:3%">
<b style="font-size:25px">INQOO – Innowacyjne Szkolenia Programistyczne</b><br>
INQOO, to innowacyjna droga do zdobycia zawodu w branży IT, będąca przedsionkiem kariery dla przyszłych programistów.
Oferujemy pełne szkolenia programistyczne, dając jednocześnie możliwość wejścia do nowoczesnego, dobrze zaprojektowanego świata. INQOO kreuje model funkcjonowania szkoły IT +, opierając się na tworzeniu pomysłów, koncepcji, działań, zespołu i Twojej przyszłości.
</div>
<div id="footer">
<b>E-mail:</b> anna.kania@inqoo.com
<b>Telefon:</b> 535 999 670<br>
<b>Adres:</b> Sobieskiego 2, 40-082 Katowice

</div>
</div>