@import "../../../palete.scss";

#container{
    width:100%;
    padding:2%;
    color:$handsome;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#footer{
    clear:both;
    text-align: right;
    margin-top:30%;
}
.leftImage{
    width: 40%;
    float:left;
    margin-right:3%;
}
.strongerText{
    size: 31,25rem;
    text-align: right;
}
.letterContent{
    letter-spacing: 1.5px;
    
}
.imageRight{
    width: 40%;
    float:right;
    border-radius:50px;
    margin-right:3%;
}
.smallImage{
    width: 55%;
    float:right;
    border-radius:50px;
    margin-right:3%;
}
.smallerImage{
    width: 40%;
    float:right;
    border-radius:50px;
    margin-right:3%;
}
.theSmallestImage{
    width: 35%;
    float:left;
    border-radius:50px;
    margin-right:3%;
}
.content{
    float:left;
}
.textContent{
    text-align:center;
    margin: 8%;
}

