<div class="box">
  <div *ngFor="let lecture of lectures">
    <form>
      <div class="card border-dark mb-3 max width margin">
        <div class="card-body text-dark">
          <input (click)="handleCourseClick($event, lecture.title)" class="checkmark" type="checkbox">
          <div class="card-content">
            <h4 class="card-title"><i>{{ lecture.title }}</i></h4>
            <p class="card-text"><i>{{ lecture.description }}</i></p>
            <p class="card-text"><i>Price: {{ lecture.price }}</i></p>
            <p class="card-text"><i>Duration: {{ lecture.duration }}</i></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="emailContainer fixed-bottom">
  <div class="emailForm">
    <label class="emailLabel" for="email">Email: </label>
    <input [formControl]="email" [placeholder]="'example@email.com'" class="emailInput" id="email" type="email">
    <button (click)="onSubmit(checkedLectures,email.value) "
            [disabled]="checkIfButtonShouldBeDisabled()"
            class="btn-primary buttonHeight"
            type="button">Submit
    </button>
  </div>
  <div class="errors sticky-top">
    <small *ngIf="checkIfEmailIsRequiredErrorShouldBeDisplayed()"
           class="alert alert-danger" role="alert">Email is required</small>
    <small *ngIf="email.errors?.pattern" class="alert alert-danger" role="alert">Email is invalid</small>
    <small *ngIf="checkIfCheckBoxErrorShouldBeDisabled()"
           class="alert alert-danger" role="alert">No lectures selected</small>
  </div>
</div>
