@import "../../../../palete.scss";

.min-width {
  max-width: 50rem;
  max-height:15rem;
  min-height: 16vh;
  min-width: 16vh;
}

.row {
  margin:0;
}

.center {
  margin-top: 1.5rem;
}

.card-header2 {
  text-align: center;
  font-family:"Lucida Handwriting", monospace;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.card {
  background-color: $inqooBlue;
}


.card-content {
  float:left;
}

.card-text {
  text-align: justify;
  font-size:3vh;
  color:whitesmoke;
  text-shadow: none;
}

.emailContainer {
  background-color: whitesmoke;
  padding: 0.2rem 0 0.2rem 0;
}

.emailForm {
  text-align: right;
}

.buttonHeight {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  height: 2.25rem;
  width: 5rem;
  border-radius: 3px;
}

.emailLabel {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  font-size: 1.1rem;
}

.emailInput {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  height: 2.25rem;
  font-size: 1.1rem;
}

.checkmark {
  height: 2.5rem;
  width: 2.5rem;
  float:right;
}

.card-title{
  text-align: justify;
  font-size:5vh;
  color:whitesmoke;
  text-shadow: none;
}



