<div class="box">
  <div *ngFor="let lecture of lectures">
    <form>
      <input (click)="handleCourseClick($event, lecture.title)" type="checkbox">
      <div class="card border-dark mb-3 max width margin">
        <div class="card-body text-dark">
          <h4 class="card-title"><i>{{ lecture.title }}</i></h4>
          <p class="card-text"><i>{{ lecture.description }}</i></p>
          <p class="card-text"><i>Price: {{ lecture.price }}<br>Duration:</i></p>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="emailContainer">
  <div class="emailForm">
    <label class="emailLabel" for="email">Email: </label>
    <input [formControl]="email" [placeholder]="'example@email.com'" class="emailInput" id="email" type="email">
    <button (click)="onSubmit(checkedLectures,email.value) "
            [disabled]="checkIfButtonShouldBeDisabled()"
            class="btn-primary buttonHeight"
            [routerLink]="['/summary-page/']"
            type="button">Submit
    </button>
    <small *ngIf="checkIfEmailIsRequiredErrorShouldBeDisplayed()" class="text-danger">Email is required</small>
    <small *ngIf="email.errors?.pattern" class="text-danger">Email is invalid</small>
    <small *ngIf="checkIfCheckBoxErrorShouldBeDisabled()"
           class="text-danger">No lectures selected</small>
  </div>
</div>

